* {
    z-index: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #374252;
}

.doc-head {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    background-color: #662d91
}

ul.two-columns {
    border: 1px solid;
    box-shadow: 5px 10px #cecece;
    padding: 0px 0px 0px 10px;
}

footer {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
    margin: 0;
    background-color: #662d91;
    padding: 20px 0px;
}

.outer-frame {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
    letter-spacing: -0.3px;
    color: #374252;
    text-align: center;
    margin: 60px 0px
}

.btn-l-half-width {
    width: 47%;
    margin: 15px 1.5%;
}


.l-one-third-width {
    float: left;
    width: 32%;
    margin: 10px 1%;
}

.l-two-third-width {
    float: left;
    width: 64%;
    margin: 10px 1%;
}

h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
    letter-spacing: -0.3px;
    color: #374252;
}

h3, h4 {
    color: #374252;
    font-weight: 300;
    padding: 15px 0px
}

p {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    color: #86939E;
}

.text-16px a {
    font-weight: 400;
}

.square-btn {
    line-height: 0px;
    padding: 0px
}

.text-ffffff {
    color: #fff;
}

.l-align-center {
    text-align: center
}

.btn {
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    color: #ffffff !important;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 50px;
    transition: all 0.1s ease-in;
    background: #4a1c6b;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    -webkit-appearance: none;
    outline: none !important;
    min-width: 130px;
    text-align: center;
    cursor: pointer;
}

button.btn.btn-l-half-width {
    float: left;
}

.btn:hover {
    color: #ffffff;
    background: #5c2b81;
}

.row > .btn {
    line-height: 0px;
    padding: 150px 50px;
}

.btn a {
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    font-weight: 300
}

    .btn a:visited {
        color: #fff;
        text-decoration: none
    }

.text-9e1f63 {
    color: #9e1f63
}

.square-btn h1 {
    line-height: 0px;
    padding: 0px;
}

.outer-frame.l-full-width-small {
    margin-top: 0px;
}

.current a {
    font-weight: bold
}



.side-nav li a {
    float: none;
    text-decoration: none
}

.side-nav ul li {
    padding: 5px 0px;
    margin: 5px 0px
}

@media (max-width: 840px) {
    .l-one-third-width, .l-two-third-width {
        width: 100%;
        margin: 0;
    }
}

#primary_nav_wrap {
    /*position: fixed;
    top: 0;*/
    width: 1024px;
    background-color: #662d91;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

    #primary_nav_wrap ul {
        list-style: none;
        position: relative;
        float: left;
        padding: 0;
        width: 500px;
        margin: 0
    }

        #primary_nav_wrap ul a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 20px 20px;
            font-weight: 500;
            font-size: 13px;
        }

        #primary_nav_wrap ul li {
            position: relative;
            float: left;
            margin: 0;
        }

            #primary_nav_wrap ul li.current-menu-item {
                background: #ffffff50
            }

            #primary_nav_wrap ul li:hover {
                background: #ffffff50
            }

        #primary_nav_wrap ul ul {
            left: -9999px;
            position: absolute;
            top: 100%;
            background: #fff;
            padding: 0px 0px 0px 10px;
        }

            #primary_nav_wrap ul ul li {
                float: none;
                width: 100%;
            }

            #primary_nav_wrap ul ul a {
                line-height: 120%;
                overflow: hidden;
                width: 50%;
                float: left;
                padding: 5px 0;
                color: black
            }

            #primary_nav_wrap ul ul ul {
                top: 0;
                left: 100%
            }

        #primary_nav_wrap ul li:hover > ul {
            left: auto;
            display: block;
        }


input[type=checkbox] {
    display: none;
}

.demo-img {
    max-width: 100%;
}

.accordion-toggle {
    cursor: pointer;
    border: 1px solid #d4dbe2;
    padding-left: 5px;
    margin: 0px 0px 5px 0px;
}

.accordion-content {
    display: none;
}

    .accordion-content.default {
        display: block;
    }

/*Mobile*/

@media screen and (max-width: 480px) {

    .btn-l-half-width {
        width: 100%;
        margin: 1%;
    }

    .toggle {
        display: grid;
        width: 35px;
        height: 4px;
        background-color: white;
        margin: 6px;
    }

    .dropdown-content {
        display: none;
    }

    .show {
        display: block
    }

    #primary_nav_wrap ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 300px;
        max-height: 100%
    }

    #primary_nav_wrap li a {
        display: block;
        padding: 0px 10px;
        text-decoration: none;
    }


    #primary_nav_wrap ul ul {
        left: 0px;
        position: relative;
        display: inline;
    }

        #primary_nav_wrap ul ul a {
            width: 100%;
            padding: 5px 10px;
        }

    .doc-head {
        height: 100%
    }

    ul.two-columns {
        box-shadow: none;
    }
}
