body {
    color: #525252
}

li {
    float: left;
    display: block;
    width: 25%;
    height: 100%;
}

.bg-b6d5e8 {
    background-color: #b6d5e8;
}

li > p {
    padding: 5px 20px;
}

.table-header {
    background-color: #78a7c4;
    color: #fff
}

li > h3 {
    padding: 5px 0px 5px 20px;
    margin-bottom: 0px
}

ul.table-body:nth-child(odd) {
    background-color: #e0f3ff;
    border: 1px solid #ffffff;
}
