.visually-hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: 0
}

:link:focus {
    color: #b0246f
}

.menu-panel a .skip-nav {
    float: left;
    font-weight: 700;
    padding: 10px
}

.skip-nav:focus {
    visibility: visible
}

.skip-nav a {
    color: #333333 !important;
    left: -999999px;
    overflow: hidden;
    position: absolute;
    font-size: 15px;
    padding: 15px;
    background: #ffffff;
    display: inline-block;
    max-width: 200px;
    border: 1px solid #ededed
}

    .skip-nav a:active, .skip-nav a:focus {
        left: 0;
        overflow: visible;
        position: static
    }

.mt-48px, body .menu-panel-group .mt-48px {
    margin-top: 48px
}

.mt-24px, body .menu-panel-group .mt-24px {
    margin-top: 24px
}

.highlight {
    margin-bottom: 16px
}

    .highlight pre {
        background: #f7f7f7;
        border-radius: 3px;
        line-height: 1.45;
        margin-bottom: 0;
        overflow: auto;
        padding: 16px;
        word-break: normal
    }

.main-nav {
    position: relative
}

body.tab .menu:focus {
    border: 2px solid #43f5d6;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px
}

.menu-top-nav-item {
    box-sizing: border-box
}

    .menu-top-nav-item a[aria-haspopup] {
        position: relative;
        text-decoration: none;
        z-index: inherit
    }

        .menu-top-nav-item a[aria-haspopup]:hover, .menu-top-nav-item:hover > a, .menu-top-nav-item a[aria-haspopup]:focus {
            color: #43f5d6
        }

        .menu-top-nav-item a[aria-haspopup]:hover, .menu-top-nav-item a[aria-haspopup]:focus, .menu-top-nav-item a[aria-haspopup].open {
            margin-left: 0;
            z-index: 1002
        }

        .menu-top-nav-item a[aria-haspopup].open {
            padding-bottom: 2px
        }

    .menu-top-nav-item:first-child a[aria-haspopup].open {
        left: -1px;
        margin-right: -1px
    }

.open .menu-panel-wrap {
    min-height: 300px
}

.panel-wrap {
    background: #f6f6f6;
    border: 1px solid #b3b3b3;
    box-shadow: 0 4px 4px -3px #171717;
    color: #5E6977;
    cursor: default;
    right: -1px;
    line-height: normal;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -9999em;
    display: block;
    visibility: hidden
}

    .panel-wrap.menu-panel {
        overflow: visible
    }

.menu-panel.open {
    max-height: 680px;
    opacity: 1;
    top: 5.0em;
    visibility: visible;
    z-index: 1001
}

.menu-panel a {
    color: #454545;
    display: block;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.25;
    margin: .35em 0;
    text-decoration: none
}

.menu-panel-group ul p {
    font-size: 13px;
    margin-left: 42px;
    margin-top: -15px;
    color: #86939E
}

.menu-panel ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.menu-panel > ul > li {
    border-left: 1px solid #b3b3b3;
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
    padding-left: 1em
}

    .menu-panel > ul > li:first-of-type {
        border-left: none;
        box-shadow: none;
        padding-left: 0
    }

.menu-panel > p {
    color: #454545;
    font-size: 1.2em;
    line-height: 1.3em
}

.menu-panel a:hover, .menu-panel a:focus {
    color: #b0246f;
    text-decoration: none
}

.menu-panel.l-col-1 {
    width: 500px;
    right: 150px
}

.menu-panel.l-col-2 {
    width: 705px;
    right: 70px
}

.menu-panel.l-col-3 {
    width: 920px;
    right: 20px
}

.menu-panel.l-col-1 > ul > li {
    width: auto
}

.menu-panel.l-col-3 > ul > li {
    width: 30%
}

.menu-panel.l-col-3 div.menu-panel-wrap {
    width: 30%;
    float: left
}

.menu-panel.l-col-2 div.menu-panel-wrap {
    width: 45%;
    float: left
}

.menu-panel-wrap {
    height: 100%;
    padding: 0 10px
}

    .menu-panel-wrap > ul {
        padding: 0
    }

.menu-panel.l-col-1 div.menu-panel-wrap {
    width: 90%
}

.panel-wrap .menu-panel-wrap:last-child {
    border-right: 0 !important
}

.panel-wrap .menu-panel-wrap:nth-child(2n) {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd
}

.menu-panel.l-col-4 > ul > li, .menu-panel.l-col-4b > ul > li {
    width: 22%
}

.menu-panel-group > a {
    color: #441a63;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.2em !important;
    margin-bottom: 6px;
    padding: 6px 10px;
    display: block
}

.menu-panel-group h3 > a:hover, .menu-panel-group > h3 > a:focus {
    color: #333
}

.menu-panel-group ul {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.menu-panel-group li > a {
    padding: 6px 10px 6px 5px;
    text-indent: 0;
    width: auto;
    line-height: 1.2em !important;
    margin-left: 35px;
    list-style-position: outside;
    list-style-type: disc;
    display: list-item !important
}

.menu-panel-group li:last-child {
    margin-bottom: 15px
}

.l-inline-list li.menu-panel-group {
    float: none;
    display: block
}

.header-Logo {
    height: 40px;
    width: 123px;
    background: url('../images/icon/logo-small.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0
}

.nav-top-level > a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    padding: 0 20px;
    color: #ffffff
}

.nav-top-level {
    margin: 0;
    padding-right: 0;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    line-height: 4.5;
    position: initial !important
}

.menu-panel > ul > li:nth-child(4), .menu-panel > ul > li:nth-child(7) {
    border-left: 0;
    padding-left: 0
}

body .panel-wrap li {
    line-height: 3 !important;
    display: block;
    float: none
}

a.open + .navarrow {
    display: block;
    opacity: 1;
    visibility: visible
}

.navarrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #f2f2f2;
    margin: 0 auto;
    bottom: 23px;
    text-align: center;
    position: relative;
    z-index: 999999;
    display: none;
    opacity: 0;
    visibility: hidden
}

header.bg-purple .navarrow {
    bottom: 10px
}

.sticky .navarrow {
    bottom: 10px
}

.panel-wrap .plr-15px {
    overflow: hidden
}

#toggleMenu {
    display: none
}

    #toggleMenu > a {
        color: #fff;
        font-size: 20px;
        line-height: 1;
        padding: 12px 20px;
        margin: 0
    }

.nthrive-main-menu {
    width: auto !important
}

.sticky .logo-wrap.ptb-20px {
    padding: 12px 0
}

#toggleMenu a, #toggleMenu a span {
    color: #ffffff
}

@media only screen and (max-width: 945px) {
    .menu-panel.l-col-3 {
        width: 840px;
        right: 20px
    }
}

@media only screen and (max-width: 880px) {
    .menu-panel.l-col-3 {
        width: 812px;
        right: 20px
    }
}

@media only screen and (max-width: 840px) {
    .sticky .logo-wrap.ptb-20px {
        padding: 6px 0
    }

    .m-open .menu-panel.l-col-3 {
        width: auto;
        right: 0
    }

    .m-open .panel-wrap {
        top: 0;
        visibility: visible
    }

    .m-open .menu-panel {
        top: 0
    }

    .menu-panel a {
        color: #ffffff
    }

    .logo-wrap.l-align-left {
        padding: 6px 0;
        float: left;
        max-height: 40px !important
    }

    body header {
        background: transparent !important
    }

    #large-view-nav > ul li {
        border-bottom: 1px solid #321349;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    #large-view-nav ul {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-top: 1px solid #321349
    }

    #toggleMenu {
        border-bottom: 0;
        display: block;
        width: auto;
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer
    }

        #toggleMenu a:focus, #toggleMenu a:active, #toggleMenu a:visited, #toggleMenu a:link, #toggleMenu a:link:focus {
            text-decoration: none
        }

    .m-open #toggleMenu .icon-menu {
        display: none
    }

    #toggleMenu .icon-menu-closed {
        display: none
    }

    #toggleMenu .icon-menu {
        display: block
    }

    .m-open #toggleMenu .icon-menu-closed {
        display: block
    }

    body .nthrive-main-nav-wrap, body .nthrive-top-nav-wrap {
        display: block !important
    }

    body .menu-panel-group .mt-48px {
        margin-top: 0
    }

    body .main-nav {
        opacity: 1
    }

    .nthrive-main-menu figure {
        display: none;
        visibility: hidden;
        opacity: 0
    }

    .logo-wrap.l-align-left {
        float: none;
        position: fixed;
        top: 0;
        left: 0;
        background: #441a63;
        width: 100%;
        height: 50px;
        z-index: 999999
    }

    body .main-nav {
        position: absolute;
        top: 50px;
        z-index: 2;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0 30px;
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        visibility: hidden;
        text-align: left;
        width: auto !important
    }

    .nthrive-main-nav .plr-15px {
        background: transparent;
        padding: 0 !important
    }

    .m-open .nthrive-main-nav .plr-15px {
        background: #441a63;
        padding: 0 !important
    }

    .main-nav > li, .menu-panel-wrap > ul > li {
        min-height: 0x
    }

        .main-nav > li > a, .menu-panel-wrap > ul > li > a {
            padding: 20px 0 !important
        }

    .nthrive-main-menu > ul > li {
        display: block;
        border-bottom: 1px solid #321349 !important
    }

    .sticky header .nthrive-main-nav a, header.bg-purple .nthrive-main-nav a, body .nthrive-main-nav a, header.bg-purple .nthrive-main-nav a {
        line-height: 1
    }

    .m-open a + .navarrow {
        display: none;
        opacity: 0;
        visibility: hidden
    }

    .navarrow, .nav-top-level:hover .navarrow {
        display: none;
        visibility: hidden;
        opacity: 0
    }

    .menu-panel-group > a {
        color: #ffffff
    }

    .m-open .menu-panel {
        max-height: none;
        top: 0
    }

    .panel-wrap {
        background: transparent;
        border: none;
        box-shadow: none;
        color: #ffffff;
        cursor: default;
        right: 0;
        line-height: normal;
        margin: 0;
        max-height: none;
        opacity: 1;
        overflow: hidden;
        padding: 0;
        position: relative;
        top: -9999em;
        display: none;
        visibility: hidden
    }

    .m-open .panel-wrap {
        top: 0;
        display: block;
        visibility: visible;
        display: block;
        background: #321349
    }

    .nthrive-main-nav {
        position: relative
    }

    .m-open .main-nav {
        visibility: visible
    }

    .nav-top-level > a {
        font-size: 16px
    }

    .menu-panel.l-col-3 div.menu-panel-wrap {
        width: 100%;
        float: none
    }

    #main {
        margin-top: 0
    }

    .panel-wrap .menu-panel-wrap:nth-child(2n) {
        border: 0 !important
    }

    .m-open .menu-panel-wrap {
        min-height: 0
    }

    .m-open .menu-panel {
        top: 0
    }

    .menu-panel.l-col-1 {
        width: auto;
        right: auto
    }

    body.m-open {
        height: 100%;
        overflow: hidden
    }

    header, .nav-outer-wrap, .nthrive-main-nav, .nthrive-main-nav .plr-15px, #large-view-nav, .nthrive-main-menu, .nthrive-main-nav-wrap {
        position: absolute !important;
        height: 100% !important;
        width: 100% !important
    }

    header, .sticky header {
        position: fixed !important;
        height: auto !important;
        width: 100% !important
    }

    .m-open header {
        height: 100% !important
    }

    .nthrive-main-menu {
        positio .sticky headern:absolute !important;
        height: 100% !important;
        width: 100% !important;
        padding: 0;
        overflow-y: auto;
        max-height: 550px
    }

    body .main-nav {
        transition: none !important
    }

    .header-Logo {
        margin: 0 0 0 15px
    }
}
