html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

    audio:not([controls]) {
        display: none;
        height: 0
    }

progress {
    vertical-align: baseline
}

template,
[hidden] {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

    a:active,
    a:hover {
        outline-width: 0
    }

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    display: inline-block
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: 'Roboto', sans-serif
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -1.1em;
    left: -0.1em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp,
address,
caption,
th,
figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal
}

ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}

dl,
menu,
ol,
ul {
    list-style: outside none none
}

fieldset,
iframe,
img {
    border: 0
}

caption,
th {
    text-align: left
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
        border: 0
    }

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText
    }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none
    }

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.ie9 img[src*=".svg"] {
    width: 100%
}

.ie9 .elt-logo img[src*='.svg'] {
    width: auto !important
}

.w-266 {
    width: 266px
}

.mobile-sub-menu .sub-menu {
    background: #441a63 !important
}

.mobile-sub-menu .nav-dropdown .uparrow {
    display: none !important
}

.mobile-sub-menu .sub-menu.secondary-menu {
    display: block !important
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src*=".svg"] {
        width: 100%
    }
}

.l-clearfix:after {
    content: "";
    display: table;
    clear: both
}

.l-align-left {
    float: left
}

.l-align-right {
    float: right
}

.l-align-center {
    text-align: center;
    margin: 0 auto
}

.l-full-width {
    width: 100%;
    max-width: 1380px;
    margin: auto auto
}

.l-site-width {
    margin: 0 auto;
    max-width: 1070px;
    padding: 0
}

.l-carousel-width {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0;
    overflow: hidden
}

.l-content-width {
    max-width: 595px;
    margin: 0 auto
}

.l-half-col {
    width: 50%
}

.inline-block {
    display: inline-block
}

.block {
    display: block
}

.outer-wrap {
    background: #f6f6f6;
    width: 100%;
    height: auto;
    position: relative
}

.outer-frame {
    position: relative;
}

    .outer-frame.l-full-width-small {
        margin-top: 40px;
    }

.responsive-img,
.responsive-img img {
    width: 100%;
    height: auto
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99
}

.middle {
    display: table-cell;
    vertical-align: middle
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 3% 0
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.l-full-width-small {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: auto auto;
}

.splash-theme-padding {
    padding: 10% 5%;
}

.bg-splash {
    background: url(../images/wake/wake_login_bg.jpg) no-repeat;
}

.l-inline-list {
    max-width: 500px;
    margin: 25px auto 15px auto;
}

    .l-inline-list li {
        display: inline-block;
        float: left;
        padding: 0 2%;
        width: 46%;
    }

article {
    color: white;
}

h1 {
    font-size: 42px;
    font-weight: 300;
    line-height: 56px;
    padding: 30px 0 20px 0;
}

.form-half label {
    margin-bottom: 10px;
}

form input.input-field {
    height: 30px;
    width: 98%;
    padding: 5px;
}

form input[type="checkbox"] {
    margin-left: 10px;
}

.btn {
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    color: #ffffff !important;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 50px;
    transition: all 0.1s ease-in;
    background: #4a1c6b;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    -webkit-appearance: none;
    outline: none !important;
    min-width: 130px;
    text-align: center;
    cursor: pointer;
}

.error,
form span {
    color: #ffcc00;
    padding-top: 5px;
    display: block;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-25px {
    margin-bottom: 25px;
}

.mb-30px {
    margin-bottom: 30px;
}

p {
    font-size: 16px;
}


@media (max-width: 840px) {
    .sub--menu {
        background: #441a63
    }

    .nthrive-main-nav-wrap,
    .nthrive-top-nav-wrap {
        display: none
    }

    .desktop-hide.menunav {
        display: none
    }

    .l-align-left,
    .l-align-right {
        float: none
    }

    .desktop-hide {
        display: block
    }

    .desktop-show {
        display: none
    }

    .mobile-show {
        display: inline-block
    }
}
