.navbar .dropdown-menu > li > a.maintainHover {
    color: white;
}

.navbar .popover {
    width: 400px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
}

h3.popover-title {
    font-size: 15px;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: #374252;
    padding: 15px 30px 16px 30px;
    border-bottom: 1px solid #cdcdcd;
    line-height: 29px;
}

    h3.popover-title span {
        font-size: 10px;
        letter-spacing: 0.1px;
        font-weight: 500;
        color: #374252;
    }

#menu li:hover h3.popover-title {
    color: #374252 !important;
}

.popover {
    position: absolute;
    top: 0;
    left: 240px !important;
    z-index: 1010;
    display: none;
    max-width: 600px;
    min-width: 534px;
    height: 350px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #f6f6f6;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.submenu-list a {
    color: #5E6977;
    cursor: pointer;
}

#menu .submenu-list a span.submenu-desc {
    display: block;
    font-size: 11px;
    color: #a2acb4;
    text-decoration: none !important;
}

body #menu .submenu-desc {
    text-decoration: none !important;
}

#menu .submenu-list a:hover span.submenu-title {
    text-decoration: underline;
}

.dropdown-menu > li > a:after {
    content: ">";
    float: right;
}

#menu li.nthrive-menu-open ul.dropdown-menu > li:nth-child(2) > a ~ div.popover {
    display: block !important;
}

#menu li.nthrive-menu-open ul.dropdown-menu > li:nth-child(2) > a.changeHover ~ div.popover {
    display: none !important;
}

.nthrive-main-menu {
    width: 100%;
}

.dropdown-menu > li {
    z-index: 99;
}

.nav-bg-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

    .nav-bg-menu.br-30px {
        right: -30px !important;
    }

    .nav-bg-menu.bb-30px {
        bottom: -30px !important;
    }

.show-image {
    display: block;
}

.hide-image {
    display: none !important;
}

    .keep-hover,
    .hide-image.keep-hover {
        display: block !important;
    }

#menu a.hover-menu,
#menu .second-sub a {
    padding: 0 !important;
}

/* general ul style */
.nthrive-main-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* first level ul style */

.nthrive-main-menu > ul > li {
    display: inline-block;
}

    .nthrive-main-menu > ul > li > a {
        display: inline-block;
    }

    .nthrive-main-menu > ul > li.cbp-hroepn a,
    .nthrive-main-menu > ul > li.nthrive-menu-open > a:hover {
        color: #fff;
    }

.l-inline-list .dropdown-menu li {
    display: block;
}

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

.navbar .dropdown-menu {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.open > .dropdown-menu {
    display: block !important;
}

.dropdown-menu {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 1000;
    float: right;
    min-width: 240px;
    height: 350px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

    .dropdown-menu.narrow {
        width: 534px;
        background-color: #f6f6f6;
        background-image: none !important;
    }

    .dropdown-menu li .popover {
        background: #f6f6f6;
    }

.nthrive-main-menu .cbp-hroepn .dropdown-menu {
    display: block !important;
}

#nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
    -ms-filter: opacity(.6);
    filter: alpha(opacity=60);
    -webkit-opacity: .6;
    -moz-opacity: .6;
    -o-opacity: .6;
    opacity: .6;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 4;
}

.dropdown-menu {
    -webkit-border-radius: 2px 2px;
    border-radius: 2px 2px;
}

.popover {
    -webkit-border-radius: 2px 2px;
    border-radius: 2px 2px;
}

#menu a:hover {
    color: #2DA48F !important;
}

/* sub-menu */
.nthrive-main-menu .nthrive-menusub {
    display: none;
    position: absolute;
    width: auto;
    right: 535px;
    top: 90px;
}

.nthrive-menu-open .nthrive-menusub {
    display: block;
    padding-bottom: 2em;
}

.nthrive-main-menu .nthrive-menusub-inner > div {
    width: 33%;
    float: left;
    padding: 0 2em 0;
}

.nthrive-main-menu .nthrive-menusub-inner:before,
.nthrive-main-menu .nthrive-menusub-inner:after {
    content: " ";
    display: table;
}

.nthrive-main-menu .nthrive-menusub-inner:after {
    clear: both;
}

.nthrive-main-menu .nthrive-menusub-inner > div a {
    line-height: 1.5em;
}

.nthrive-menusub h4 {
    color: #afdefa;
    padding: 1em 0 0.6em;
    margin: 0;
    font-size: 130%;
    font-weight: 300;
}

.dropdown-menu h2 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 15px;
    color: #374252;
    letter-spacing: 0.1px;
    padding: 12px 30px;
}

.dropdown-menu > li {
    border-bottom: 1px solid #d1dee9;
}

    .dropdown-menu > li:last-child {
        border-bottom: 0;
    }

#menu li:hover .dropdown-menu h2 {
    color: #374252 !important;
}

/************* START: new menu *************/
.dropdown-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 67px;
    height: auto !important;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
    width: 774px;
    background: #f6f6f6 url(../images/navigation/bg-white.jpg) repeat-y top left;
    -webkit-border-radius: 2px 2px;
    border-radius: 2px 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    min-height: 300px;
}

.dropdown-toggle.active ~ .uparrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #f2f2f2;
    margin: -16px 0 0 28px;
}

.dropdown-menu div.first-sub {
    padding: 15px 30px;
    margin: 0;
    font-size: 14px;
}

.dropdown-menu .submenu-change-default > div.second-sub,
.dropdown-menu .submenu-change > div.second-sub {
    padding: 15px 30px 0 30px;
    margin: 0;
    font-size: 14px;
}

    .dropdown-menu .submenu-change > div.second-sub:last-child {
        padding: 15px 30px;
    }

.dropdown-menu div.second-sub {
    padding: 15px 30px;
}

.dropdown-menu div.first-sub a {
    text-transform: capitalize !important;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu a {
    width: auto !important;
    display: block;
    line-height: 15px;
}

.dropdown-menu div.first-sub {
    border-bottom: 1px solid #d1dee9;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-menu .second-sub-wrap {
    margin: 0;
    font-size: 14px;
    width: 170px;
}

    .dropdown-menu .submenu-change-default > div.second-sub:last-child,
    .dropdown-menu .second-sub-wrap .submenu-change-default > div.second-sub:last-child {
        padding: 15px 30px;
    }

h3.submenu-title,
h2.menu-title {
    font-size: 15px;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: #374252;
    padding: 15px 30px 16px 30px;
    border-bottom: 1px solid #cdcdcd;
    line-height: 29px;
}

div.left-column-wrap,
div.right-column-wrap {
    height: 100%;
    float: left;
    min-height: 300px;
}

div.left-column-wrap {
    width: 240px;
    left: 0;
    top: 0;
    background: #ffffff;
}

div.right-column-wrap {
    width: 534px;
    top: 0;
    left: 240px;
}

    div.right-column-wrap.narrow {
        left: 0;
    }

.menu-description-wrap {
    padding: 30px;
    line-height: 22px;
    font-size: 14px;
    max-width: 310px;
}

p.submenu-title {
    font-size: 14px;
    color: #5E6977;
    font-weight: 500;
}

p.submenu-desc {
    font-size: 11px;
    color: #86939E;
    font-weight: 400;
    letter-spacing: 0.1;
}

#menu .dropdown-menu a {
    display: block;
}

.active-link {
    display: block;
}

.inactive-link {
    display: none;
}

.left-column-wrap ~ .right-column-wrap {
    height: 100%;
}

.submenu-change-default {
    height: 100%;
    width: 534px;
    min-height: 300px;
    display: none;
}

.right-column-wrap div.submenu-change-default:nth-of-type(1) {
    display: block;
    height: 100%;
    width: 534px;
    min-height: 300px;
}

body .right-column-wrap .submenu-change-default.hide-default {
    display: none !important;
}

.submenu-change-default {
    display: none;
}

.submenu-change {
    display: none;
    height: 100%;
    width: 534px;
    min-height: 300px;
}

    .submenu-change.active-link {
        display: block;
    }

#menu li {
    position: initial !important;
}
/************ END: new menu ***********/

/* Examples for media queries */

@media screen and (max-width: 52.75em) {

    .nthrive-main-menu {
        font-size: 80%;
    }
}

@media screen and (max-width: 43em) {

    .nthrive-main-menu {
        font-size: 120%;
        border: none;
    }

        .nthrive-main-menu > ul,
        .nthrive-main-menu .nthrive-menusub-inner {
            width: 100%;
            padding: 0;
        }

        .nthrive-main-menu .nthrive-menusub-inner {
            padding: 0 2em;
            font-size: 75%;
        }

        .nthrive-main-menu > ul > li {
            display: block;
            border-bottom: 4px solid #47a3da;
        }

            .nthrive-main-menu > ul > li > a {
                display: block;
                padding: 1em 3em;
            }

        .nthrive-main-menu .nthrive-menusub {
            position: relative;
        }

    .nthrive-menusub h4 {
        padding-top: 0.6em;
    }
}

@media screen and (max-width: 36em) {
    .nthrive-main-menu .nthrive-menusub-inner > div {
        width: 100%;
        float: none;
        padding: 0 2em;
    }
}
