@media only screen and (max-width: 1404px) {
    /*Home page*/
    /*.logo {
    border: 1px solid red;
}*/
    .home-slider .backbgbox {
        height: 620px !important;
        max-height: 100vh;
    }

    .text-36px {
        font-size: 34px;
        line-height: 38px;
    }

    .slider-title h1 {
        line-height: 46px;
    }

    h2 {
        color: #374252;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: -0.3px;
        line-height: 36px;
    }

    footer {
        padding-top: 50px;
    }

    .top-footerlinksbox {
        padding-bottom: 20px;
    }

    .bottom-footerlinksbox {
        padding-bottom: 30px;
    }

    .l-theme-padding {
        padding-bottom: 80px;
        padding-top: 68px;
    }

    .partner-companies li {
        margin: 0 6px;
        margin-bottom: 8px;
    }

    .pb-45px {
        padding-bottom: 45px;
    }

    .right-text-box {
        padding-top: 30px;
        padding-bottom: 20px;
        width: 55%;
        min-height: 362px;
    }

        .right-text-box h2 {
            padding-bottom: 15px;
        }

    .m-pic {
        padding-bottom: 5px;
    }

    .footer-links2 {
        padding-right: 2%;
        width: 47%;
    }

    .corporate-citizen h3 {
        font-size: 30px;
        line-height: 40px;
    }

    /*Payment page1*/
    .title-highlight {
        display: table-cell;
        height: 480px;
        text-align: center;
        vertical-align: middle;
    }

    /*News portal page*/
    .np-wrapper1 .backbgbox {
        height: 470px !important;
        max-height: calc(100vh - 80px);
    }

    .np-wrapper1 .nt-search {
        width: 50%;
        left: 25%;
    }

    .np-wrapper1 .slick-dots {
        left: 25%;
        transform: none;
    }

    .np-wrapper1 .nt-search .l-site-width {
        width: 100%;
    }

    .np-wrapper1 .nt-search .slider-title {
        padding: 0;
        width: 100%;
    }

    .np-list-1 {
        padding-bottom: 60px;
    }

    .byline-article {
        padding-bottom: 40px;
    }

    .l-list-two-col > li {
        margin: 0 1.34%;
        max-width: none;
        width: 47.32%;
    }

    /*ELT page*/
    .elt-page {
        padding-top: 10px;
    }

    /*Solution details*/
    .solution-details > .pb-35px {
        padding-bottom: 10px;
    }

    .sl-side {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 380px;
    }

    .solution-details {
        width: auto;
        padding-right: 400px;
    }

    /*Brand story*/
    .brand-story p br {
        display: none;
    }

    .brand-story p.pb-45px {
        padding-bottom: 20px;
    }

    /*Blog inside page*/
    .elt-only {
        padding-top: 30px;
    }

    .elt-pglink.active p:after {
        left: -10px;
        top: 8px;
    }

    /*Contact page*/

    /*Newsletter page*/

    /*Search result*/
    .search-results .tab-content {
        padding-top: 20px;
    }

    .search-list li {
        border-bottom: 1px solid #e1e4e7;
        padding: 30px 0;
    }

    .search-results {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /*Newsroom page*/
    .press-release {
        width: 22.82%;
    }

    .today-feature-box {
        width: 74.61%;
    }

    .todays-feature {
        width: 65%;
    }

    .feature-list {
        width: 30.68%;
    }

    .in-the-news {
        width: 74.61%;
    }

    .media-contact {
        width: 22.82%;
    }

    .boxin {
        margin-bottom: 40px;
    }

    .np-list {
        padding-top: 50px;
    }
}

/* #Tablet (Portrait) */

/* Note: Design for a width of 768px */

@media only screen and (max-width: 1023px) {
    /*Home page*/
    /*.logo {
    border: 1px solid yellow;
}*/
    .text-36px {
        font-size: 32px;
        line-height: 36px;
    }

    .slider-title h1 {
        line-height: 44px;
    }

    h2 {
        color: #374252;
        font-size: 28px;
        font-weight: 300;
        letter-spacing: -0.3px;
        line-height: 32px;
    }

    footer {
        padding-top: 40px;
    }

    .top-footerlinksbox {
        padding-bottom: 10px;
    }

    .bottom-footerlinksbox {
        padding-bottom: 30px;
    }

    .l-theme-padding {
        padding-bottom: 80px;
        padding-top: 68px;
    }

    .partner-companies li {
        margin: 0 6px;
        margin-bottom: 8px;
    }

    .pb-45px {
        padding-bottom: 45px;
    }

    .right-text-box {
        padding-top: 30px;
        padding-bottom: 20px;
        width: 55%;
        min-height: 362px;
    }

        .right-text-box h2 {
            padding-bottom: 15px;
        }

    .m-pic {
        padding-bottom: 5px;
    }

    .footer-links2 {
        padding-right: 2%;
        width: 42%;
    }

    .ntselect-box {
        float: left;
    }

    .nt-browser-offer {
        float: right;
    }

    .story .story_content {
        padding: 0 18px;
    }

    .story-big .story_content {
        border: 1px solid #d1dee9;
        border-radius: 3px;
        box-shadow: 0 0 2px #d1dee9;
        float: left;
        padding-left: 150px;
    }

    .story_pic {
        left: 15px;
        position: absolute;
        top: 42px;
        width: 120px;
    }

    .story h4 {
        padding-bottom: 10px;
        padding-top: 16px;
        line-height: 20px;
    }

    .story_content {
        padding-bottom: 10px;
    }

    .partner-companies {
        padding-bottom: 50px;
    }

    .story-box {
        padding-bottom: 80px;
    }

    .tab-links a {
        min-width: 180px;
    }

    .left-figure, .right-text-box {
        float: left;
    }

    .nth-service h2 {
        font-size: 32px;
    }

    .footer-links a {
        color: #aa9eba !important;
        font-size: 14px;
        font-weight: 400;
        overflow-wrap: break-word;
    }

    .footer-links li {
        color: #aa9eba;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 10px;
    }

    .footer-logo {
        float: right;
    }

    .copyright-box .l-align-left {
        float: left;
    }

    .copyright-box .l-align-right {
        float: right;
    }

    .slider-title {
        padding: 0 10px;
    }

    .tab-content {
        padding-top: 50px;
    }

    .sub-list p {
        padding-bottom: 14px;
    }

    .partner-companies-carousel .slick-slide {
        padding: 0 10px;
    }

    /*About page*/
    .social-strip .social-share {
        padding-top: 0;
        margin-bottom: 10px;
        float: left;
    }

    .banner-title {
        font-size: 42px;
    }

    .social-strip {
        width: 600px;
        margin: 0 auto;
    }

        .social-strip .comment-link {
            display: none;
        }

            .social-strip .comment-link.tabview {
                display: inline-block;
                float: right;
                margin-top: 0;
                position: relative;
                top: -5px;
            }

    .corporate-citizen .l-align-left {
        float: left;
    }

    .corporate-citizen .l-align-right {
        float: right;
    }

    .corporate-citizen h3 {
        font-size: 28px;
        line-height: 38px;
    }

        .corporate-citizen h3 br {
            display: none;
        }

    /*Payment page1*/
    .management-tab h4 {
        font-size: 28px;
        line-height: 36px;
    }

    .title-highlight {
        display: table-cell;
        height: 420px;
        text-align: center;
        vertical-align: middle;
    }

    /*News portal page*/
    .np-wrapper1 .nt-search {
        width: 70%;
        left: 15%;
    }

    .np-wrapper1 .slick-dots {
        left: 15%;
        transform: none;
    }

    .np-wrapper1 .backbgbox {
        height: 500px !important;
        max-height: calc(100vh - 80px);
    }

    .backbgbox img {
        object-fit: cover;
        height: 100%;
    }

    .news-content1 {
        padding: 15px;
    }

    .np-list {
        padding-top: 40px;
    }

    .boxin {
        margin-bottom: 30px;
    }

    .news-content {
        padding: 20px 15px 25px;
    }

    .byline-article {
        padding-bottom: 0;
    }

    .l-list-two-col > li {
        float: left;
    }

    .feature-text h3 {
        font-size: 26px;
        line-height: 34px;
    }

    .feature-text {
        padding: 20px;
    }

    .l-align-left {
        float: left;
    }

    .l-align-right {
        float: right;
    }

    .main-nav {
        float: left;
    }

    .time {
        left: 10px;
        top: 10px;
    }

    .corporate-blog {
        padding-bottom: 20px;
    }

    /*ELT page*/
    .elt-sidebar {
        margin-right: 4%;
        width: 30%;
    }

    .elt-content {
        width: 66%;
    }

    /*Payment page2*/
    .l-list-three-col li {
        float: left;
        margin-bottom: 16px;
        margin-right: 4%;
        width: 30.66%;
    }

    /*Analytics page*/
    .data-visibility p {
        min-height: 150px;
    }

    .ana-info {
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

        .ana-info h3 {
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 20px;
        }

    .ana-pic img {
        height: 100%;
        object-fit: cover;
    }

    .ana-list li {
        margin-bottom: 45px;
    }

    .ana-list {
        padding-bottom: 46px;
        padding-top: 75px;
    }

    .data-box {
        max-width: 556px;
    }

        .data-box h3 {
            font-size: 28px;
            line-height: 38px;
        }

    .data-visibility .item img {
        display: inline-block;
        padding-bottom: 15px;
    }

    .data-visibility .item h4 {
        color: #374252;
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 4px;
    }

    /*Solution details*/
    .sl-side {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
    }

    .solution-details {
        width: auto;
        padding-right: 210px;
    }

        /*Solution details*/
        .solution-details > .pb-35px {
            padding-bottom: 10px;
        }

        .solution-details .story {
            padding-top: 20px;
        }

    /*Blog preview page*/
    .blog-article .news-content1 {
        padding: 12px 22px;
        min-height: 94px;
    }

    .bread-crum li {
        margin-bottom: 5px;
    }

    /*Contact page*/
    .l-table h3 {
        font-size: 21px;
    }

    .office-list li {
        float: left;
        margin-right: 3%;
        width: 31.33%;
    }

    .contact-form {
        padding-bottom: 60px;
    }

    .office-info p br {
        display: none;
    }

    .office-info h4 {
        font-size: 22px;
    }

    .office-list {
        padding: 0 20px 90px;
    }

    /*Newsletter page*/
    .newsletter-page {
        padding-bottom: 60px;
    }

    /*Swim lane page*/
    .tab-links-long a {
        min-width: 144px !important;
    }

    /*Search result*/
    .tab-links-simple a {
        min-width: 1px;
    }

    .search-results .tabs-box {
        padding-bottom: 30px;
    }

    .search-results .tab-content {
        padding-top: 0;
    }

    /*Newsroom page*/
    .press-release h3 {
        font-size: 24px;
    }

    .today-feature-box h3 {
        font-size: 24px;
    }

    .today-feature-box .mb-25px {
        margin-bottom: 0;
    }

    .press-release .pt-50px {
        padding-top: 25px;
    }

    .press-release li p {
        display: block;
        display: -webkit-box;
        height: 70px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        padding-bottom: 0
    }

    .in-the-news h3 {
        font-size: 24px;
    }

    .media-contact h3 {
        font-size: 24px;
    }

    .in-the-news .mb-62px {
        margin-bottom: 30px;
    }

    .media-contact .mb-62px {
        margin-bottom: 30px;
    }

    .in-the-news .news-info {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

        .in-the-news .news-info h3 {
            font-size: 20px;
            line-height: 26px;
        }

    .news-pic img {
        height: 100%;
        object-fit: cover;
    }

    .in-the-news li p {
        display: block;
        display: -webkit-box;
        height: 70px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
    }

    .news-wrapper {
        padding-top: 70px;
    }

    .inner-banner img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .byline-article .mob-carousel-wrapper {
        margin-bottom: 0;
    }

    .l-table p {
        min-height: 1px;
    }
}

/* #Mobile (Landscape) */

/* Note: Design for a width of 480px */

@media only screen and (max-width: 767px) {
    /*.logo {
    border: 1px solid blue;
}*/
    .th-dots {
        cursor: pointer;
        padding: 0 4px;
    }

    #main {
        margin-top: 40px;
    }

    header {
        overflow: hidden;
        height: 50px;
    }

    .home-slider-wrapper .slick-dots {
        display: none !important;
    }

    .home-slider .backbgbox {
        height: 550px !important;
        max-height: 100vh;
        min-height: 400px;
    }

    .slider-title h1 {
        font-size: 31px !important;
        line-height: 36px !important;
    }

    .nt-search p {
        font-size: 17px;
        line-height: 24px;
        padding-bottom: 42px;
    }

    .ntselect-box {
        display: none;
    }

    .ntselect-search {
        width: 300px;
    }

    .nt-browser-offer {
        float: none;
        width: auto;
    }

        .nt-browser-offer .std-input {
            height: 45px;
            line-height: 45px;
        }

    .desktop-show {
        display: none;
    }

    .mobile-show {
        display: inline-block;
    }

    .more-link-box {
        min-height: 44px;
        padding-bottom: 20px;
        padding-top: 16px;
    }

    h2.section-header {
        font-size: 32px !important;
        letter-spacing: -0.3px;
        line-height: 42px !important;
    }

    .l-title-width p {
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        padding-top: 22px;
    }

    .l-theme-padding {
        padding-bottom: 60px;
        padding-top: 42px;
    }

    .l-title-width .mt-40px {
        margin-top: 26px;
    }

    .story-big.l-align-left {
        float: none !important;
    }

    .story {
        float: none !important;
        margin: 0 auto;
        position: relative;
        width: auto;
        min-height: 100px;
        max-width: 300px;
        margin-bottom: 35px;
    }

    .l-title-width {
        padding-left: 30px;
        padding-right: 30px;
    }

    .story-box {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 22px;
    }

    .story .story_content {
        padding: 30px;
        height: auto;
        float: none;
        min-height: 100px;
    }

    .story_pic {
        left: 15px;
        margin: 0 auto;
        position: static;
        top: 42px;
        width: 120px;
        margin-bottom: 10px;
    }

    .l-title-width p br {
        display: none;
    }

    .story h4 {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 14px;
        padding-top: 10px;
    }

    .tabs-box .tab-links {
        display: none;
    }

    .tab-links-mobile,
    .mobile-select {
        position: relative;
    }

        .tab-links-mobile .dropdown,
        .mobile-select .dropdown {
            background: #ffffff;
            color: #374252;
            font-size: 14px;
            font-weight: 500;
            display: block;
            padding: 0 30px 0 20px;
            position: relative;
            min-width: 188px;
            height: 38px;
            border: 1px solid #86939e;
            text-align: left;
            line-height: 38px;
        }

        .tab-links-mobile ul,
        .mobile-select ul {
            background: #eeeeee;
            display: none;
            left: 0;
            list-style: outside none none;
            margin: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            text-align: left;
            color: #374252;
            font-size: 14px;
            font-weight: 500;
            border: 1px solid #86939e;
            box-sizing: border-box;
            z-index: 9999;
        }

        .tab-links-mobile li,
        .mobile-select li {
            border-bottom: 1px solid #86939e;
        }

            .tab-links-mobile li:last-child,
            .mobile-select li:last-child {
                border-bottom: none;
            }

        .tab-links-mobile a,
        .mobile-select a {
            display: block;
            color: #374252;
            font-size: 14px;
            font-weight: 500;
            padding: 8px 20px;
        }

        .tab-links-mobile .dropdown span.arrow,
        .mobile-select .dropdown span.arrow {
            display: block;
            width: 16px;
            height: 16px;
            background: url('../images/icon/selectarrow1.png') no-repeat center center;
            position: absolute;
            right: 10px;
            top: 11px;
        }

    .l-list-three-col li {
        float: none;
        margin-bottom: 16px;
        margin-right: 0;
        width: auto;
        min-height: 1px;
    }

    .tab-detail .sub-list li {
        min-height: 1px;
    }

    .l-title-width.pb-45px + .tabs-box {
        margin-top: -10px;
        padding-bottom: 85px;
    }

    .pb-45px {
        padding-bottom: 45px;
    }

    .tab-content {
        padding: 0 12px;
        padding-top: 48px;
    }

    .sub-list li {
        margin-bottom: 28px;
    }

    .btn {
        height: 45px;
        line-height: 45px;
    }

    .btn-big {
        width: 245px;
    }

    .left-figure, .right-text-box {
        float: none;
    }

    .left-figure {
        width: auto;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 12px;
    }

    .right-text-box {
        min-height: 1px;
        padding: 0 25px;
        padding-bottom: 20px;
        padding-top: 30px;
        width: auto;
    }

        .right-text-box h2 {
            color: #475465;
            font-size: 28px !important;
            font-weight: 300;
            line-height: 36px !important;
        }

        .right-text-box > p {
            color: #5E6977;
            font-size: 16px;
            line-height: 30px;
        }

        .right-text-box .sub-list li {
            float: none;
            margin-right: 0;
            width: auto;
            margin-bottom: 46px;
        }

    .m-pic {
        padding-bottom: 16px;
    }

    .nth-service h2 {
        font-size: 32px !important;
        line-height: 42px !important;
    }

    .nth-service p {
        line-height: 30px;
        padding-top: 20px;
    }

    .nth-form-wrapper {
        padding-top: 15px;
    }

    .nth-service-form {
        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

        .nth-service-form .input-box {
            float: none;
            margin-right: 0;
            width: auto;
            margin-bottom: 5px;
        }

    .std-input1 {
        background: #ffffff;
        border: 1px solid #d4dbe2;
        border-radius: 2px;
        box-shadow: none;
        color: #929da7;
        font-family: "Roboto",sans-serif;
        font-size: 14px;
        font-weight: 400;
        height: 50px;
        line-height: 48px;
        padding: 0 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .input-box .btn {
        padding: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    .nth-service {
        padding-left: 30px;
        padding-right: 30px;
    }

        .nth-service .text-14px {
            font-size: 13px;
            line-height: 18px;
            padding-top: 34px;
        }

    .top-footerlinksbox {
        display: none;
    }

    .footer-links1 {
        display: none;
    }

    .footer-links2 {
        display: none;
    }

    footer .break-line {
        display: none;
    }

    .footer-share {
        display: none;
        text-align: center;
    }

        .footer-share.mobileview {
            display: block;
        }

    .l-align-left, .l-align-right {
        float: none !important;
    }

    .footer-logo {
        text-align: center;
        width: 150px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .footer-share h6 {
        color: #ffffff;
        float: none;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
        padding-right: 0;
        padding-bottom: 22px;
    }

    .footer-share ul {
        display: inline-block;
        float: none;
    }

    .footer-links.mobile-show {
        display: block;
        width: auto;
        float: none;
        padding-right: 0;
    }

    .bottom-footerlinksbox {
        padding-bottom: 38px;
    }

    .copyright-box {
        text-align: center;
    }

        .copyright-box .l-align-left {
            float: none;
        }

    footer {
        padding-top: 25px;
    }

    .th-dots:hover span {
        background: #ffffff;
    }

    .main-nav {
        position: fixed;
        width: 100%;
        left: 0;
        top: 100%;
        padding-right: 0;
        transition: all 0.2s ease 0s;
        background: #441a63;
        text-align: center;
        height: auto;
        height: calc(100vh - 80px);
        box-sizing: border-box;
        padding-bottom: 20px;
        opacity: 0;
        z-index: -1;
    }

    .mobmenuopen .main-nav {
        top: 100%;
        position: absolute;
        z-index: 9999999;
        opacity: 1;
    }

    .menunav a {
        display: block;
        font-size: 15px;
        line-height: normal;
        padding: 18px 30px;
    }

    .menunav ul li {
        display: block;
        float: none;
        line-height: normal;
        margin: 0;
    }

    .menunav > ul > li {
        border-bottom: 1px solid #60258c;
    }

    .nav-outer-wrap {
        opacity: 1;
    }

    .mobmenuopen {
        overflow: hidden;
    }

        .mobmenuopen header {
            background: #441a63 !important;
        }

    /*About page*/
    .inner-page {
        padding-top: 80px;
    }

        .inner-page header {
            background: #441a63 !important;
        }

    .social-strip {
        display: none;
    }

        .social-strip.mobileview {
            display: block;
            background: #eef1f3;
            width: auto;
            padding: 8px 20px;
        }

    .social-share {
        display: none;
    }

    .social-strip .comment-link.tabview {
        display: none;
    }

    .ntselect-search2 {
        width: auto;
        display: block;
    }

        .ntselect-search2 .std-input1 {
            height: 45px;
            line-height: 45px;
            border: none;
            width: 100%;
        }

        .ntselect-search2 .nt-browser-offer {
            width: auto;
        }

    .inner-banner {
        background-position: center center;
        height: 366px;
    }

    .btn-mini {
        font-size: 12px;
        font-weight: 500;
        height: 24px;
        line-height: 24px;
        min-width: 80px;
    }

    .banner-title {
        font-size: 36px !important;
        line-height: 42px !important;
        padding-bottom: 26px;
    }

    .inner-banner-wrapper .nt-search p {
        font-size: 16px;
        line-height: 24px;
    }

    .leader-bio {
        min-height: 305px;
        padding: 40px 6px 10px;
    }

        .leader-bio h4 {
            color: #475465;
            font-size: 26px;
            font-weight: 300;
            line-height: 32px;
            padding-bottom: 0;
        }

        .leader-bio h6 {
            color: #475465;
            font-size: 13px;
            font-weight: 500;
            line-height: 25px;
            padding-bottom: 16px;
        }

    .round-pic {
        border-radius: 50%;
        display: inline-block;
        height: 75px;
        margin-bottom: 12px;
        overflow: hidden;
        width: 75px;
    }

    .leader-bio p {
        padding-bottom: 6px;
    }

    .comp-list {
        display: none;
    }

    .corporate-citizen {
        padding-top: 56px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 86px;
    }

        .corporate-citizen h5 {
            font-size: 14px;
            padding-bottom: 25px;
        }

        .corporate-citizen h3 {
            font-size: 27px;
            line-height: 38px;
            padding-bottom: 32px;
        }

    /*Payment page1*/
    .management-tab h4 {
        font-size: 28px;
        line-height: 36px;
    }

    .title-highlight {
        display: table-cell;
        height: 450px;
        text-align: center;
        vertical-align: middle;
    }

    .exe-title h2.section-header {
        font-size: 26px !important;
        line-height: 38px !important;
    }

    .mobile-carousel {
        display: block !important;
        width: 400px;
        margin: 0 auto;
        box-sizing: border-box;
    }

        .mobile-carousel .item {
            box-sizing: border-box;
        }

    .mob-carousel-content {
        display: none;
    }

    .l-table {
        display: table !important;
    }

    .mob-carousel-wrapper .show-more {
        display: none;
    }

    .mobile-carousel .slick-dots li {
        display: inline-block !important;
        margin: 0 3px;
    }

    .mobile-carousel .slick-dots {
        background: none;
        border: none;
        border-radius: 0;
        bottom: -50px;
        display: block;
        left: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        z-index: 999;
        text-align: center;
        width: 100%;
    }

        .mobile-carousel .slick-dots li.slick-active button {
            background: #9ea9b1;
        }

        .mobile-carousel .slick-dots li button {
            background: #dadee1;
            border: medium none;
            border-radius: 50%;
            box-shadow: none;
            cursor: pointer;
            display: block;
            height: 9px;
            outline: medium none !important;
            text-indent: -9999px;
            width: 9px;
        }

    .management-tab h4 {
        font-size: 30px;
        line-height: 36px;
    }

    .info-links {
        display: table-cell;
        height: 230px;
        vertical-align: middle;
    }

    .gr-table h3 {
        font-size: 30px;
        line-height: 37px;
    }

    /*News portal page*/
    .home-slider .backbgbox {
        height: 500px !important;
        max-height: none;
        min-height: 1px;
    }

    .np-wrapper1 .slider-title {
        text-align: center;
    }

        .np-wrapper1 .slider-title h1 {
            font-size: 38px !important;
            line-height: 38px !important;
            margin-bottom: 0;
        }

        .np-wrapper1 .slider-title p {
            display: block;
            display: -webkit-box;
            color: #E4E8EB;
            font-size: 15px;
            line-height: 24px;
            height: 75px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 0;
        }

    .np-wrapper1 .slick-dots {
        display: inline-block !important;
        left: 15%;
        transform: none;
        left: 50%;
        position: absolute;
        text-align: center;
        -ms-transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        transform: translate(-50%,0);
        z-index: 999;
        background: rgba(255, 255, 255, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.2);
        padding: 3px 10px;
    }

    .np-list {
        display: none;
    }

    .np-list-1 {
        padding-top: 58px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 110px;
    }

    .news-box.item {
        padding: 0;
        margin: 5px 10px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }

    .news-content1 {
        padding: 12px 25px;
        min-height: 50px;
    }

        .news-content1 h5 {
            padding-bottom: 8px;
        }

        .news-content1 p {
            line-height: 18px;
        }

    .n-title {
        padding: 0 10px;
        padding-bottom: 14px;
    }

        .n-title h3 {
            font-size: 26px;
            float: left;
        }

        .n-title a.read-link {
            font-size: 13px;
            float: right;
        }

    .n-article {
        max-width: 400px;
        margin: 0 auto;
    }

    .news-content {
        padding: 24px 30px 42px;
    }

        .news-content h5 {
            font-size: 14px;
            line-height: 25px;
            padding-bottom: 12px;
        }

        .news-content p {
            display: block;
            display: -webkit-box;
            height: auto;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 0;
        }

    .byline-article {
        padding-bottom: 40px;
    }

    .corporate-blog .pt-70px {
        padding-top: 56px;
    }

    .feature figure {
        height: 300px;
        overflow: hidden;
    }

        .feature figure img {
            object-fit: cover;
            height: 100%;
        }

    .feature-text {
        padding: 20px 22px 42px;
    }

        .feature-text h3 {
            font-size: 27px;
            line-height: 35px;
        }

        .feature-text h6 {
            padding-bottom: 12px;
        }

    .news-box1 h5 {
        color: #374252;
        font-size: 15px;
    }

    .news-box1 p {
        font-size: 13px;
    }

    .news-box1 img {
        padding-bottom: 14px;
    }

    .wrapped .news-box1 {
        padding-bottom: 34px;
    }

        .wrapped .news-box1:last-child {
            padding-bottom: 0;
        }

    .webinar {
        padding-bottom: 105px;
    }

        .webinar .pt-70px {
            padding-top: 52px;
        }

    /*ELT page*/
    .mobile-search {
        display: block;
        background: #EEF1F3;
        padding: 0;
    }

        .mobile-search form {
            padding: 8px 20px;
        }

        .mobile-search .std-input {
            width: 100%;
            box-sizing: border-box;
            height: 35px;
            line-height: 35px;
            padding: 0 20px;
            padding-right: 36px;
        }

    .elt-sidebar {
        display: none;
    }

    .elt-content {
        width: auto;
        float: none;
    }

    .user-pic {
        display: none;
    }

    .elt-page-wrapper {
        padding: 0 28px;
    }

    .bread-crum {
        padding: 22px 0;
    }

    .elt-content h1 {
        color: #003247;
        font-size: 30px;
        line-height: 39px;
        padding-bottom: 8px;
    }

    .elt-content h5 {
        font-size: 14px;
        padding-bottom: 30px;
    }

    .user-profile {
        padding-bottom: 30px;
    }

        .user-profile p {
            color: #374252;
            font-size: 14px;
            font-weight: 400;
        }

    .sp-title {
        padding-right: 0;
        width: auto;
    }

    .sp-content {
        width: auto;
        padding-bottom: 10px;
    }

    .sp-title h3 {
        padding-bottom: 15px;
    }

    .elt-page .tags {
        display: none;
    }

    .elt-content {
        padding-bottom: 56px;
    }

    /*Payment page2*/
    .story-box-wrapper .story {
        width: auto;
        max-width: none;
    }

    .slick-slide {
        display: none;
        float: left !important;
        height: 100% !important;
        min-height: 1px !important;
    }

    .story-box-wrapper {
        padding-bottom: 110px;
        background: #f5f7f9;
        padding-left: 26px;
        padding-right: 26px;
        padding-top: 20px;
    }

        .story-box-wrapper:before {
            display: block;
            width: 80%;
            margin: 0 auto;
            content: "";
            height: 1px;
            background: #d9dde2;
        }

    .story {
        background: #ffffff;
    }

    .story-box-wrapper .l-theme-padding {
        padding-top: 82px;
    }

    /*Analytics page*/
    .data-visibility {
        padding-bottom: 70px;
    }

        .data-visibility p {
            min-height: 1px;
        }

    .ana-list .item {
        background: #ffffff;
    }

    .ana-info h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .ana-info p {
        color: #97A2AC;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .ana-info {
        padding: 15px 25px 25px;
    }

    .ana-pic {
        height: 220px;
    }

        .ana-pic img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .ana-info p {
        display: block;
        display: -webkit-box;
        color: #97A2AC;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
        height: 45px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 0;
    }

    .ana-info h3 {
        display: block;
        display: -webkit-box;
        height: 35px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 0;
        margin-bottom: 6px;
    }

    .ana-list .item {
        box-shadow: 0 0 2px rgba(0,0,0,0.1);
        border-radius: 2px;
    }

    .data-box h3 {
        font-size: 27px;
        line-height: 38px;
    }

    .data-box h5 {
        font-size: 14px;
    }

    .data-box-wrapper {
        padding-left: 35px;
        padding-right: 35px;
    }

        .data-box-wrapper .btn {
            bottom: 0;
            position: static;
            right: 15px;
            margin-top: 10px;
        }

        .data-box-wrapper p {
            display: none;
        }

    .ana-list {
        padding-bottom: 116px;
    }

    /*Solution details*/
    .sl-side {
        display: none;
    }

    .solution-details {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 45px;
    }

        .solution-details h1 {
            font-size: 30px;
            line-height: 39px;
            margin-bottom: 20px;
        }

        .solution-details .story {
            width: 100%;
            max-width: 400px;
            margin: 0 auto !important;
            float: none;
            padding-top: 20px;
        }

    .btm-bloglinks {
        display: none;
    }

    .solution-details .pb-95px {
        padding-bottom: 25px;
    }

    /*Blog inside page*/
    .toptitle > a {
        display: none;
    }

    .newpost {
        float: left;
    }

    .oldpost {
        float: right;
    }

    .post-nav {
        padding-bottom: 30px;
    }

    .p-3line-mobile {
        display: block;
        display: -webkit-box;
        height: 75px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /*Blog preview page*/
    .news-content1 h5 {
        padding-bottom: 8px;
    }

    .news-box {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }

    .bg-white-mobile {
        background: #ffffff;
    }

    /*Contact page*/
    .l-table h3 {
        font-size: 24px;
    }

    .l-table.item img {
        padding-bottom: 2px;
    }

    .contact-form h5 {
        display: none;
    }

    .contact-form-content {
        padding: 0;
        border: none;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .std-input3 {
        box-sizing: border-box;
        height: 50px;
        line-height: 48px;
        padding: 0 18px;
    }

    .form-full {
        margin: 0;
    }

    .form-half {
        float: none;
        margin: 0;
        width: auto;
        margin-bottom: 5px;
    }

        .form-half:last-child {
            margin-bottom: 0;
        }

    .form-width1 {
        width: 48.44%;
        margin: 0;
        margin-bottom: 5px;
    }

    .form-width2 {
        float: none;
        margin: 0;
        width: auto;
    }

    .city {
        width: 42%;
        margin-right: 2%;
    }

    .zip {
        width: 56%;
    }

    .input-holder {
        margin-bottom: 5px;
        padding-bottom: 0;
    }

    .contact-form-content .select-style-light {
        border: 1px solid #d4dbe2;
        border-radius: 0;
        box-sizing: border-box;
        height: 50px;
        line-height: 18px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-align: left;
        width: 100%;
    }

        .contact-form-content .select-style-light select {
            padding: 15px 18px;
        }

    .office-list-wrapper {
        display: none;
    }

    .highlight-border {
        border: 1px solid #e7e7e7;
        border-top: 5px solid #00515b;
    }

    .contact-form {
        padding-top: 30px;
    }

    textarea.std-input3 {
        height: 168px;
        line-height: normal;
        padding-bottom: 15px;
        padding-top: 15px;
        resize: none;
    }

    .contact-form-content textarea {
        margin-bottom: 30px;
    }

    .contact-form-content .btn {
        height: 50px;
        line-height: 50px;
    }

    .contact-form {
        padding-bottom: 55px;
    }

    /*Newsletter page*/
    .l-one-third {
        float: none;
        margin: 0;
        width: auto;
    }

    .l-two-third {
        float: none;
        margin: 0;
        width: auto;
    }

    .news-pic1 {
        height: 180px;
    }

        .news-pic1 img {
            display: block;
            height: 100%;
            object-fit: cover;
        }

    .newsletter-info {
        padding-top: 68px;
        padding-bottom: 55px;
    }

        .newsletter-info .news-content {
            padding: 20px 30px 20px;
            min-height: 100px;
        }

            .newsletter-info .news-content h5 {
                font-weight: 500;
                padding-bottom: 0;
            }

            .newsletter-info .news-content p {
                color: #5E6977;
                font-size: 14px;
                line-height: 18px;
                display: block;
                display: -webkit-box;
                height: 40px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    .news-letter-months .l-table {
        display: none;
    }

        .news-letter-months .l-table.open {
            display: block;
        }

    .news-letter-months .mob-carousel-content {
        display: block;
    }

    .l-list-three-col.list-big li {
        margin-bottom: 10px;
        margin-right: 0;
        width: auto;
    }

    .news-letter-months .show-more {
        display: none;
    }

    .news-letter-months ul li {
        display: none !important;
    }

        .news-letter-months ul li.showme {
            display: block !important;
        }

    .news-letter-months {
        padding-top: 56px;
    }

    .newsletter-page .info-links {
        height: 188px;
    }

        .newsletter-page .info-links h4 {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 0;
        }

    .newsletter-page {
        padding-bottom: 40px;
    }

    .story-box-wrapper .l-title-width {
        padding-left: 0;
        padding-right: 0;
    }

    /*Careers page*/
    .mobile-title {
        max-width: 380px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

        .mobile-title h3 {
            color: #373E47;
            font-size: 26px;
            padding-bottom: 22px;
        }

    .choose-box .news-content h5 {
        color: #00515B;
        font-size: 13px;
        font-weight: 500;
        line-height: 25px;
        padding-bottom: 12px;
    }

    .choose-box .news-content {
        padding: 10px 24px 20px;
    }

    .choose-box {
        padding-bottom: 75px;
    }

    .mobile-cwrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    /*Search result*/
    .search-results .elt-sidebar {
        display: block;
        margin-right: 0;
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .search-results .elt-pg-nav {
        display: none;
    }

    .search-results .tabs-box .tab-links {
        display: block;
    }

    .search-results .tabs-box {
        padding-left: 15px;
        padding-right: 15px;
    }

    .search-results .tab-content {
        padding: 0;
    }

    .search-results .tabs-box {
        margin-top: 44px;
        padding-bottom: 0;
        margin-bottom: 20px;
    }

    .search-list li {
        padding: 36px 0;
    }

    .search-list h4 {
        padding-bottom: 8px;
    }

    .search-list li > a {
        word-break: break-all;
    }

    .search-list li:last-child {
        border-bottom: none;
    }

    .search-results .elt-content {
        padding-bottom: 0;
    }

    /*Newsroom page*/
    .press-release {
        display: none;
    }

    .today-feature-box {
        float: none;
        width: auto;
    }

    .todays-feature {
        float: none;
        width: auto;
        position: relative;
    }

        .todays-feature:before {
            display: block;
            width: 100%;
            height: 6px;
            background: rgba(123,33,76,0.8);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }

    .feature-list {
        float: none;
        width: auto;
    }

    .today-feature-box h3 {
        font-size: 26px;
        float: left;
    }

    .today-feature-box a.read-link {
        float: right;
    }

    .media-contact {
        display: none;
    }

    .today-feature-box {
        padding-top: 50px;
    }

    .t-pic {
        height: 300px;
    }

        .t-pic img {
            height: 100%;
            object-fit: cover;
        }

    .today-feature-box .feature-content h3 {
        float: none;
        font-size: 27px;
        line-height: 32px;
    }

    .today-feature-box .feature-content a.read-link {
        float: none;
    }

    .feature-content {
        padding: 25px 22px 40px;
    }

    .todays-feature {
        margin-bottom: 50px;
        margin-top: 10px;
    }

    .feature-list .item {
        background: #ffffff;
    }

    .feature-info {
        padding: 5px 28px 20px;
    }

    .feature-wrapper {
        padding-bottom: 120px;
    }

    .in-the-news li {
        background: none;
        border: none margin-bottom: 0;
        min-height: 1px;
        padding-left: 0;
        position: relative;
    }

    .in-the-news .item {
        position: relative;
        background: #ffffff;
        box-shadow: 0 0 2px rgba(0,0,0,0.1);
        border-radius: 2px;
    }

    .in-the-news {
        float: none;
        width: auto;
    }

    .news-pic {
        height:;
        left: 0;
        min-height: 1px;
        overflow: hidden;
        position: static;
        top: 0;
        width: auto;
        height: 150px;
    }

        .news-pic img {
            height: 100%;
            object-fit: cover;
        }

    .news-wrapper {
        padding-bottom: 65px;
        padding-top: 70px;
    }

    .feature-list .item {
        box-shadow: 0 0 2px rgba(0,0,0,0.1);
        border-radius: 2px;
    }
}

/* #Mobile (Portrait) */

/* Note: Design for a width of 320px */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    /*Home page*/
    /*.logo {
    border: 1px solid green;
}*/
    header {
        height: 50px;
    }

    .nthrive-main-nav-wrapper {
        height: 60px;
        position: relative;
        z-index: 2;
    }

    .logo {
        width: 120px;
    }

    .logo-image.responsive-image {
        padding: 10px 0;
        width: 100%;
    }

    .th-dots {
        float: left;
        height: 60px;
        line-height: normal;
        margin-left: 0;
        padding: 0 4px;
        position: relative;
        top: 0;
        line-height: 60px;
    }

    .main-nav {
        position: fixed;
        width: 100%;
        left: 0;
        padding-right: 0;
        transition: all 0.2s ease 0s;
        background: #441a63;
        text-align: center;
        height: auto;
        height: calc(100vh - 60px);
        box-sizing: border-box;
        padding-bottom: 20px;
        opacity: 0;
        z-index: -1;
    }

    .slider-title {
        box-sizing: border-box;
        padding: 0 20px;
        position: relative;
        top: 40px;
    }

    .ntselect-search {
        width: auto;
    }

    .slider-title h1 br {
        display: none;
    }

    .story {
        float: none;
        margin: 0 auto 35px;
        min-height: 100px;
        position: relative;
        width: auto;
    }

    .tab-links-mobile .dropdown,
    .mobile-select .dropdown {
        min-width: 168px;
    }

    /*About page*/
    .inner-page {
        padding-top: 60px;
    }

    .inner-banner-wrapper .plr-15px {
        padding-left: 10px;
        padding-right: 10px;
    }

    .exe-title h2.section-header {
        font-size: 26px !important;
        line-height: 38px !important;
    }

    .leader-bio {
        margin: 0 26px;
    }

    .leadership-text {
        padding: 0 30px;
        padding-bottom: 74px;
    }

        .leadership-text p {
            margin-bottom: 40px;
        }

    /*Payment page1*/
    .mobile-carousel {
        width: auto;
    }

    .management-tab .tab-content {
        padding: 48px 2px 0;
    }

    /*News portal page*/
    .np-wrapper1 .slider-title {
        text-align: center;
        top: 0;
    }

    .np-list-1 {
        padding: 58px 30px 110px;
    }

    .n-article {
        padding-left: 10px;
        padding-right: 10px;
    }

    .feature figure {
        height: 250px;
        overflow: hidden;
    }

    /*ELT page*/
    .bread-crum li {
        margin-bottom: 5px;
    }

    /*Payment page2*/

    /*Blog inside page*/

    .post-nav a {
        display: inline-block;
        line-height: 43px;
        padding: 0 20px;
    }

    /*Blog preview page*/
    .l-list-two-col > li {
        margin: 0;
        max-width: none;
        width: auto;
    }

    .news-box {
        margin-bottom: 24px;
    }

    .blog-article .news-content1 {
        min-height: 1px;
        padding: 14px 22px;
    }

    .news-content1 p {
        font-size: 13px;
        line-height: 18px;
    }

    .news-box-wrapper {
        margin: 26px 0 0;
    }

    .fix-header {
        padding-top: 50px;
    }

    /*Contact page*/
    .contact-form {
        padding-left: 20px;
        padding-right: 20px;
    }

    /*Newsletter page*/
    .newsletter-info {
        padding-left: 20px;
        padding-right: 20px;
    }

        .newsletter-info .news-content {
            padding: 10px 20px 15px;
            min-height: 1px;
        }

    .news-pic1 {
        height: 168px;
    }

    /*Newsroom page*/
    .t-pic {
        height: 250px;
    }

    .feature-list .feature-info h5 {
        display: block;
        display: -webkit-box;
        height: 20px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .in-the-news {
        padding-left: 0;
        padding-right: 0;
    }

        .in-the-news .news-info h3 {
            font-size: 18px;
            line-height: 24px;
        }
}
