$color-ffffff: #ffffff;
$color-43f5d6: #43f5d6;
$color-333333: #333333;
$color-da1c5c: #da1c5c;
$color-2d848f: #2d848f;
$color-5e6977: #5e6977;
$color-86939e: #86939e;
$color-454545: #454545;
$color-b0246f: #b0246f;
$color-662d91: #662d91;
$color-888888: #888888;
$color-515356: #515356;
$color-374252: #374252;
$color-222222: #222222;
$color-999999: #999999;
$color-e91e62: #e91e62;
$color-9e1f63: #9e1f63;
$color-7b214c: #7b214c;
$color-a2acb4: #a2acb4;
$color-afdefa: #afdefa;
$color-c2c9ce: #c2c9ce;
$color-475465: #475465;
$color-717c8a: #717c8a;
$color-0e5b64: #0e5b64;
$color-929da7: #929da7;
$color-aa9eba: #aa9eba;
$color-e53f38: #e53f38;
$color-e7e7e7: #e7e7e7;
$color-d1dee9: #d1dee9;
$color-98a4ae: #98a4ae;
$color-2da48f: #2da48f;
$color-373e47: #373e47;
$color-acbac5: #acbac5;
$color-65717b: #65717b;
$color-003247: #003247;
$color-00515b: #00515b;
$color-004259: #004259;
$color-28303d: #28303d;
$color-6e41a7: #6e41a7;
$color-220457: #220457;
$color-9cabb9: #9cabb9;
$color-8e2b5a: #8e2b5a;
$color-2b2e38: #2b2e38;
$color-95979c: #95979c;
$color-59277f: #59277f;
$color-a0aebc: #a0aebc;
$color-e1e4e7: #e1e4e7;
$color-f2f3f4: #f2f3f4;
$color-e5e8eb: #e5e8eb;
$color-e1e8ee: #e1e8ee;
$color-672897: #672897;
$color-e7e6dd: #e7e6dd;
$color-4ebd79: #4ebd79;
$color-d3d5d9: #d3d5d9;
$color-e4e8eb: #e4e8eb;
$color-97a2ac: #97a2ac;
$color-f7f7f7: #f7f7f7;
$color-3b1657: #3b1657;
$color-78a735: #78a735;
$color-d8d8d8: #d8d8d8;
$color-f2f2f2: #f2f2f2;
$color-441a63: #441a63;
$color-000000: #000000;
$color-4e276b: #4e276b;
$color-ff0ff0: #ff0ff0;
$color-126f72: #126f72;
$color-eeeeee: #eeeeee;
$color-f6f6f6: #f6f6f6;
$color-ea1c5c: #ea1c5c;
$color-5c2b81: #5c2b81;
$color-eceff2: #eceff2;
$color-inherit: inherit;
$color-transp: transparent;